<table width = 100% height = 500>
<tr>
<td align=center>
<h1>Зарегистрироваться</h1>
<% @user.password = @user.password_confirmation = nil %>

<%= russificate(error_messages_for :user) %>
<% form_for :user, :url => users_path do |f| -%>
<p><%= label_tag 'Логин' %><br/>
<%= f.text_field :login %></p>

<p><%= label_tag 'Адрес электронной почты' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'Пароль' %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Подтверждение пароля' %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Регистрация' %></p>
<% end -%>
</td>
</tr>
</table>