<p>
  <b>Content:</b>
  <%=h @word_form.content %>
</p>

<p>
  <b>Word group:</b>
  <%= link_to h( @word_form.word_group.title ), @word_form.word_group %>
  <%=h @word_form.word_group.template %>
</p>
  <table>
  <tr>
    <th>
      Attributes
    </th>
  </tr>
    <%= render :partial => "attribute", :collection => @word_form.wf_attributes %>  
  </table>
<%= @word_form.wf_attributes.size == 0 ? "None": "" %>
<br/>
<br/>

<%= link_to 'Add Once More', :action=> :new, :word_group_id => @word_form.word_group.id  %> |
<%= link_to 'Edit', edit_word_form_path(@word_form) %> |
<%= link_to 'Word Forms List', word_forms_path %>
