<h1>Listing wf_attributes</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Connected Word From Count</th>
  </tr>

<% for wf_attribute in @wf_attributes %>
  <tr>
    <td><%= link_to h(wf_attribute.content), wf_attribute %></td>
    <td><%=h wf_attribute.word_forms.size %></td>
    <td><%= link_to 'Edit', edit_wf_attribute_path(wf_attribute) %></td>
    <td><%= link_to 'Destroy', wf_attribute, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New wf_attribute', new_wf_attribute_path %>
