<p>
  <b>Content:</b>
  <%=h @wf_attribute.content %>
</p>
<p>
  <% if @wf_attribute.word_forms.size > 0 %>
    <table>
    <tr>
		<th>
		 Word example
		</th>
      <th>
        Word forms
      </th>
    </tr>  
    <%= render :partial => "word_form", :collection => @wf_attribute.word_forms %>
    </table>
    <% end %>	
</p>

<%= link_to 'Add Once More', new_wf_attribute_path() %> |
<%= link_to 'Edit', edit_wf_attribute_path(@wf_attribute) %> |
<%= link_to 'Back', wf_attributes_path %>
