<h1>Listing word_forms</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Word group</th>
    <th>Attributes</th>
  </tr>

<% for word_form in @word_forms %>
  <tr>
    <td><%= link_to h(word_form.content), word_form %></td>
    <td><%= link_to h(word_form.word_group.title), word_form.word_group %>
          (<%=h word_form.word_group.template %>)</td>
    <td><%= (word_form.wf_attributes.map{ |i| i.content }).join(", ")  %></td>
    <td><%= link_to 'Edit', edit_word_form_path(word_form) %></td>
    <td><%= link_to 'Destroy', word_form, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New word_form', new_word_form_path %>
