<p>
  <b>Title:</b>
  <%=h @scenario.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @scenario.description %>
</p>

<p>
  <b>Rule:</b>
  <%=h @scenario.rule_id %>
</p>

<p>
  <b>Sort:</b>
  <%=h @scenario.sort %>
</p>


<%= link_to 'Edit', edit_scenario_path(@scenario) %> |
<%= link_to 'Back', scenarios_path %>