<h1>Редактирование статуса версии</h1>

<% form_for(@build_status,:url=>{:action=>:update}) do |f| %>
  <%= solve_errors(f) %>

  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Описание %><br />
    <%= f.text_area :description, :rows => 5 %>
  </p>
  <p>
    <%= f.submit 'Обновить' %>
  </p>
<% end %>

<%= link_to 'Отобразить', admin_build_status_path(@build_status) %> |
<%= link_to 'К списку', admin_build_statuses_path %>