<p>
	<% if part_objects.count > 0 %>
		<b> <%= title %> : </b><br/>
		<ol>
		<% for object in part_objects %>
			<li>
				<%= link_to object.title, object_link.call(object) %>
				( <%= object.send( object_status ).title %> ). 
				<%= additional.call( object ).to_s if additional %> </li>
		<% end %>
		<%= "..." if objects.count > part_objects.count %>
		</ol>
	<% end %>
</p>
