<h1>Мои проекты</h1>

<% @projects.each do |project| %>
    <b><%=h project.title %></b><br/>
    <%=h(project.description).split("\n").join("<br/>") %><br/>
    Статус проекта: <b><%=h project.project_status.title %></b><br/>
    Участников: <%=h project.roles.count %><br/>
    Задач: <%=h project.tasks.count %><br/>
	Новых требований: <%=h project.issues.count %><br/>
    Ошибок: <b><%=h project.bugs.count %></b><br/>
    Версий: <b><%=h project.builds.count %></b><br/>
    <%= link_to 'Подробнее', project %> |
    <%= link_to 'Редактировать', edit_project_path(project) %> |
    <%= link_to 'Удалить', project, :confirm => 'Are you sure?', :method => :delete %>
<hr />
<% end %>
<%= link_to 'Создать проект', new_project_path %>