<h1>Новый проект</h1>

<% form_for(@project) do |f| %>

<%= solve_errors(f) %>
  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Описание %><br />
    <%= f.text_area :description, :rows => 5 %>
  </p>
  <p>
    <%= f.label :Статус_проекта %><br />
	<%= f.select :project_status_id, ProjectStatus.all.map { |i| [i.title, i.id] } %>
  </p>
  <p>
	<%= f.label :Ваша_роль_на_проекте %> : 
	<b><%= RoleTemplate.find(1).title %></b>
  </p>
  <p>
    <%= f.submit 'Создать' %>
  </p>
<% end %>

<%= link_to 'К списку', projects_path %>