  <h2><%=h @project.title %></h2>
  <%=h(@project.description).split("\n").join("<br/>") %><br/>
  <b>Статус проекта:</b>
  <%=h @project.project_status.title %>
	<%= render :partial => 'objects', :locals => { 
						:title => link_to('Версии' , project_builds_url(@project)),
						:part_objects => @builds , 
						:objects => @project.builds,
						:object_status => :build_status,
						:object_link => Proc.new { |i| [@project,i] },
						:additional => Proc.new { |i| 'Ошибок: ' + i.bugs.count.to_s }
						} %>
	<%= render :partial => 'objects', :locals => { 
						:title => 'Ошибки',
						:part_objects => @bugs , 
						:objects => @project.bugs,
						:object_status => :bug_status,
						:object_link => Proc.new { |i| [@project,i.build,i] },
						:additional => nil
						} %>
	<%= render :partial => 'objects', :locals => { 
						:title => link_to('Участники' , project_roles_url(@project)),
						:part_objects => @roles , 
						:objects => @project.roles,
						:object_status => :role_template,
						:object_link => Proc.new { |i| [@project,i] },
						:additional => nil
						} %>
	<%= render :partial => 'objects', :locals => { 
						:title => link_to('Задачи' , project_tasks_url(@project)),
						:part_objects => @tasks , 
						:objects => @project.tasks,
						:object_status => :task_status,
						:object_link => Proc.new { |i| [@project,i] },
						:additional => nil
						} %>
	<%= render :partial => 'objects', :locals => { 
						:title => link_to('Новые требования' , project_issues_url(@project)),
						:part_objects => @issues , 
						:objects => @project.issues,
						:object_status => :issue_status,
						:object_link => Proc.new { |i| [@project,i] },
						:additional => nil
						} %>
<hr/>
<%= link_to 'Добавить участника', new_project_role_path(@project) %><br/>
<%= link_to 'Добавить задачу', new_project_task_path(@project) %><br/>
<%= link_to 'Добавить версию', new_project_build_path(@project) %><br/>
<%= link_to 'Добавить новое требование', new_project_issue_path(@project) %><br/>
<%= link_to 'Редактировать', edit_project_path(@project) %> |
<%= link_to 'К списку', projects_path %>