<h1>Изменить шаблон роли</h1>

<% form_for(@role_template,:url=>{:action=>'update'}) do |f| %>
  <%= solve_errors( f ) %>
  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Описание %><br />
    <%= f.text_area :description, :rows => 5 %>
  </p>
  <p>
    <%= f.submit 'Обновить' %>
  </p>
<% end %>

<%= link_to 'Отобразить', admin_role_template_path(@role_template) %> |
<%= link_to 'Вернуться', admin_role_templates_path %>