<p>
  Название шаблона роли: <b><%=h @role_template.title %></b><br/>
</p>

<p>
  <%=h(@role_template.description).split("\n").join("<br/>") %>
</p>
<hr/>
<% @role_template.right_templates.each do |right| %>
	<b><%= right.title %></b><br/>
	<%= right.description %><br/>
	<%= link_to 'Изменить шаблон права', edit_admin_role_template_right_template_path(@role_template, right) %> |
	<%= link_to 'Подробнее', admin_role_template_right_template_path(@role_template, right) %> |
	<%= link_to 'Удалить право', admin_role_template_right_template_path(@role_template, right), 
					:confirm => 'Are you sure?', 
					:method => :delete %>

	<hr/>
<% end %>

<%= link_to 'Добавить право', new_admin_role_template_right_template_path( @role_template ) %> |
<%= link_to 'Редактировать', edit_admin_role_template_path(@role_template) %> |
<%= link_to 'Список шаблонов ролей', admin_role_templates_path %>