<h1>Редактирование статуса ошибки</h1>

<% form_for(@bug_status,:url=>{:action=>"update"}) do |f| %>
  <%= solve_errors( f ) %>
  
  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Описание %><br />
    <%= f.text_area :description, :rows => 5 %>
  </p>
  <p>
    <%= f.submit 'Изменить' %>
  </p>
<% end %>

<%= link_to 'Отобразить', admin_bug_status_path(@bug_status) %> |
<%= link_to 'К списку', admin_bug_statuses_path %>