<h1>Список статусов ошибок</h1>


<% @bug_statuses.each do |bug_status| %>
	<b><%=h bug_status.title %></b><br/>
	<%=h(bug_status.description).split("\n").join("<br/>") %><br/>
	<%= link_to 'Подробнее', admin_bug_status_path(bug_status) %> |
	<%= link_to 'Редактировать', edit_admin_bug_status_path(bug_status) %> |
	<%= link_to 'Удалить', admin_bug_status_path(bug_status), 
							:confirm => 'Are you sure?', 
							:method => :delete %>
<hr/>
<% end %>

<%= link_to 'Новый статус ошибок', new_admin_bug_status_path %>