<h1>Изменить право роли <%= @role.title %></h1>

<% form_for([@role,@right_template],:url=>{:action=>'update'}) do |f| %>
  <%= solve_errors( f ) %>
  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Описание %><br />
    <%= f.text_area :description, :rows => 5 %>
  </p>
  <p>
    <%= f.label :Контроллер %><br />
    <%= f.text_field :controller %>
  </p>
  <p>
    <%= f.label :Действия %><br />
    <%= f.text_field :actions %>
  </p>
  <p>
    <%= f.label :Элементы_для_записи %><br />
    <%= f.text_field :write_ids %>
  </p>
  <p>
    <%= f.label :Элементы_для_чтения %><br />
    <%= f.text_field :read_ids %>
  </p>
  <p>
    <%= f.submit 'Обновить' %>
  </p>
<% end %>

<%= link_to 'Отобразить', admin_role_template_right_template_path(@role, @right_template) %> |
<%= link_to 'К списку', admin_role_template_path(@role) %>