<p>
  <b>Название:</b>
  <%=h @right_template.title %>
</p>

<p>
  <b>Описание:</b>
  <%=h @right_template.description %>
</p>

<p>
  <b>Контроллер:</b>
  <%=h @right_template.controller %>
</p>

<p>
  <b>Действия:</b>
  <%=h @right_template.actions %>
</p>

<p>
  <b>Элементы для записи:</b>
  <%=h @right_template.write_ids %>
</p>

<p>
  <b>Элементы для чтения:</b>
  <%=h @right_template.read_ids %>
</p>

<p>
  <b>Шаблон роли:</b>
  <%=h @right_template.role_template.title %>
</p>


<%= link_to 'Редактировать', edit_admin_role_template_right_template_path(@role, @right_template) %> |
<%= link_to 'К списку', admin_role_template_path(@role) %>