<h1>Редактировать версию по проекту <%= @build.project.title %> </h1>

<% form_for([@project,@build]) do |f| %>
  <%= solve_errors(f) %>

  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Описание %><br />
    <%= f.text_area :description, :rows => 5 %>
  </p>
  <p>
    <%= f.label :Статус_версии %><br />
    <%= f.select :build_status_id, BuildStatus.all.map{ |i| [i.title, i.id] } %>
  </p>
  <p>
    <%= f.submit 'Обновить' %>
  </p>
<% end %>

<%= link_to 'Отобразить', [@project,@build] %> |
<%= link_to 'К списку', project_builds_path(@project) %>