<h1>Список версий</h1>

<% @builds.each do |build| %>
	<b><%=h build.title %></b><br/>
	<%=h(build.description).split("\n").join("<br/>") %><br/>
	Статус: <%=h build.build_status.title %><br/>
	По проекту: <b><%=link_to build.project.title, build.project %></b><br/>
	Количество ошибок: <b><%= build.bugs.count %></b><br/>
	<%= link_to 'Подробнее', [@project,build] %> |
	<%= link_to 'Редактировать', edit_project_build_path(@project,build) %> |
	<%= link_to 'Удалить', [@project,build], 
						:confirm => 'Are you sure?', 
						:method => :delete %>
<hr/>
<% end %>
<%= link_to 'Новая версия', new_project_build_path(@project) %><br/>
<%= link_to 'Страница проекта', @project %><br/>
