<h1>Новая версия по проекту '<%= @project.title %>'</h1>

<% form_for([@project,@build]) do |f| %>
  <%= solve_errors(f) %>

  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Описание %><br />
    <%= f.text_area :description, :rows => 5 %>
    <%= f.hidden_field :build_status_id, :value => 1 %>
  <p>
    <%= f.submit 'Создать' %>
  </p>
<% end %>

<%= link_to 'К списку', project_builds_path(@project) %><br/>
<%= link_to 'Страница проекта', @project %>
