<h1>Редактирование статуса проектов</h1>

<% form_for(@project_status,:url=>{:action=>'update'}) do |f| %>
  <%= solve_errors( f ) %>
  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Описание %><br />
    <%= f.text_area :description, :rows => 5 %>
  </p>
  <p>
    <%= f.submit 'Обновить' %>
  </p>
<% end %>

<%= link_to 'Отобразить', admin_project_status_path(@project_status) %> |
<%= link_to 'К списку', admin_project_statuses_path %>