<h1>Статусы проекта</h1>

<% @project_statuses.each do |project_status| %>
<div id='ps_<%= project_status.id %>' >
	Название: <b><%=h project_status.title %></b><br/>
	<%= h(project_status.description).split("\n").join("<br/>") %><br/>
    <%= link_to 'Отобразить', admin_project_status_path(project_status) %> |
    <%= link_to 'Редактировать', edit_admin_project_status_path(project_status) %> |
    <%= link_to 'Удалить', 
						admin_project_status_path(project_status), 
						:confirm => 'Are you sure?', 
						:method => :delete %><br/>
	<hr/>
</div>
<% end %>
<%= link_to 'Создать новый статус проекта', new_admin_project_status_path %>