<h1>Редактирование нового требования по проекту '<%= @project.title %>'</h1>

<% form_for([@project,@issue]) do |f| %>
  <%= solve_errors(f) %>
  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Описание %><br />
    <%= f.text_area :description, :rows => 5 %>
  </p>
  <p>
    <%= f.label :Статус %><br />
    <%= f.select :issue_status_id, IssueStatus.all.map { |i| [i.title, i.id] } %>
  </p>
  <p>
    <%= f.submit 'Обновить' %>
  </p>
<% end %>

<%= link_to 'Отобразить', [@project,@issue] %> |
<%= link_to 'К списку', project_issues_path(@project) %>