<h1>Новые требования по проекту '<%= @project.title %>'</h1>

<% @issues.each do |issue| %>
	<b><%=h issue.title %></b><br/>
	<%=h(issue.description).split("\n").join("<br/>") %><br/>
	Статус: <b><%=h issue.issue_status.title %></b><br/>
	<%= link_to 'Подробнее', [@project,issue] %> |
	<%= link_to 'Редактировать', edit_project_issue_path(@project,issue) %> |
	<%= link_to 'Удалить', [@project,issue], 
							:confirm => 'Are you sure?', 
							:method => :delete %>
<hr/>							
<% end %>
<%= link_to 'Новое требование', new_project_issue_path(@project) %><br/>
<%= link_to 'Страница проекта', @project %>