<h1>Изменить данные роли</h1>

<% form_for([@project,@role], :url=>{:action=>'update'}) do |f| %>
  <%= solve_errors( f ) %>
  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Описание %><br />
    <%= f.text_area :description, :rows => 5 %>
  </p>
    <%= f.hidden_field :project_id, :value => @project.id %>
  <p>
    <%= f.label :Пользователь %><br />
    <%= f.select :user_id, User.all.collect { |user| [user.login,user.id] } %>
  </p>
  <p>
    <%= f.label :Шаблон_роли %><br />
    <%= f.select :role_template_id, RoleTemplate.all.collect { |role| [role.title,role.id] } %>
  </p>
  <p>
    <%= f.submit 'Обновить' %>
  </p>
<% end %>

<%= link_to 'Отобразить', project_role_path(@project,@role) %> |
<%= link_to 'К списку', project_path(@project) %>