<h1>New Irregular verb word</h1>
<%= javascript_include_tag :defaults %>

<% form_tag('create_irregular_verb') do %>
<%= label_tag :infinitive %> <i>(write)</i> <br/>
<%= text_field_tag :infinitive, '', :id => 'word[infinitive]' %><br/>
<%= label_tag :past %> <i>(wrote)</i> <br/>
<%= text_field_tag :past, '', :id => 'word[past]' %><br/>
<%= label_tag :imperative %> <i>(write)</i> <br/>
<%= text_field_tag :imperative, '', :id => 'word[imperative]' %><br/>
<%= label_tag :present_participle %> <i>(writing)</i> <br/>
<%= text_field_tag :present_participle, '', :id => 'word[present_participle]' %><br/>
<%= label_tag :past_participle %> <i>(written)</i> <br/>
<%= text_field_tag :past_participle, '', :id => 'word[past_participle]' %><br/><br/>
<%= submit_to_remote "preview", "preview", :url => { :action => "calculate_content" } %>
<%= submit_tag "create word" %>
<% end %>
<hr/>
<div id='content'>
<%= render :partial => 'irregular_verb_content', :locals => 
	{
		:content => '<i>not defined yet</i>', :group_name => '<i>not defined yet</i>'} %>
</div>

<%= link_to 'Words', words_path %>
