<h1>Editing word_type</h1>

<% form_for(@word_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @word_type %> |
<%= link_to 'Word Types List', word_types_path %>
