<h1>Список ролей</h1>

<% @roles.each do |role| %>
	Роль: <b><%= role.title %></b><br/>
	<%= h(role.description).split("\n").join("<br/>") %><br/>
	Пользователь: <b><%=h role.user.login %></b><br/>
	На проекте: <b><%= link_to h(role.project.title), admin_project_path( role.project ) %></b><br/>
	<%= link_to 'Отобразить', admin_role_path(role) %> |
	<%= link_to 'Изменить', edit_admin_role_path(role) %> |
	<%= link_to 'Удалить', admin_role_path(role), 
						:confirm => 'Are you sure?', 
						:method => :delete %>
<hr/>
<% end %>

<%= link_to 'Создать новую роль', new_admin_role_path %>