<h1>Редактирование статуса задач</h1>

<% form_for(@task_status,:url=>{:action=>"update"}) do |f| %>
  <%= solve_errors( f ) %>
  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Описание %><br />
    <%= f.text_area :description, :rows => 5 %>
  </p>
  <p>
    <%= f.submit 'Изменить' %>
  </p>
<% end %>

<%= link_to 'Отобразить', admin_task_status_path(@task_status) %> |
<%= link_to 'К списку', admin_task_statuses_path %>