<h1>New word</h1>

<% form_for(@word) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :word_group_id %><br />
    <%= f.select :word_group_id, @word_groups_map %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Words', words_path %>
