<p>
  <b>Title:</b>
  <%=h @string_variable.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @string_variable.description %>
</p>

<p>
  <b>Value:</b>
  <%=h @string_variable.value %>
</p>


<%= link_to 'Edit', edit_string_variable_path(@string_variable) %> |
<%= link_to 'Back', string_variables_path %>