<h1>Новая задача по проекту '<%= @project.title %>'</h1>

<% form_for([@project,@task]) do |f| %>
  <%= solve_errors( f ) %>
<p>
    <%= f.label :Название %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Описание %><br />
    <%= f.text_area :description, :rows => 5 %>
  </p>
	<%= f.hidden_field :task_status_id, :value => 1 %>
  <p>
    <%= f.submit 'Создать' %>
  </p>
<% end %>

<%= link_to 'Список задач', project_tasks_url(@project) %> |
<%= link_to 'Страница проекта', @project %>