<td width=150 align=center valign=top>
	<b>Меню</b><br/>
	<br/>
	<%= link_to 'Домашняя папка', :dashboard %><br/><br/>
	<b><%= link_to 'Проекты', projects_path %></b><br/>
	<% for project in @projects %>
		<%= link_to project.title, project %><br/>
	<% end %>
	<% if current_user.login == 'root' %>
		<hr/>
		<b>Администрирование</b><br/><br/>
		<%= link_to 'Роли', admin_roles_path %><br/>
		<%= link_to 'Все Проекты', admin_projects_path %><br/><br/>
		<%= link_to 'Статусы проектов', admin_project_statuses_url %><br/>
		<%= link_to 'Статусы версий', admin_build_statuses_url %><br/>
		<%= link_to 'Статусы задач', admin_task_statuses_url %><br/>
		<%= link_to 'Статусы ошибок', admin_bug_statuses_url %><br/>
		<%= link_to 'Статусы новых возможностей', admin_issue_statuses_url %><br/><br>
		<%= link_to 'Шаблоны ролей', admin_role_templates_url %><br/>
	<% end %>
	<hr/>
	<%= link_to 'Выйти', :logout %><br/><br/>
</td>
